<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057225952480-pe74snot8bprsa4g0btok5ru3tc59fbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057225952480-pe74snot8bprsa4g0btok5ru3tc59fbi</string>
	<key>API_KEY</key>
	<string>AIzaSyD92I2isUVgKzqPxlmOB8OM2eGV-N-qNOw</string>
	<key>GCM_SENDER_ID</key>
	<string>1057225952480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eyeo.chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-codelab</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-codelab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057225952480:ios:6eb04bd5ac2eec08e01485</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-codelab.firebaseio.com</string>
</dict>
</plist>